@model Usuario



@if (Model != null)
{
    <h1 style="color:purple">Bienvenido @Model.Nombre</h1>
}
<section class="signin-section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                        <h2></h2>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->

        <div class="row g-0 auth-row">
            <div class="col-lg-6">
                <div class="auth-cover-wrapper bg-primary-100">
                    <div class="auth-cover">
                        <div class="title text-center">
                            <h1 class="text-primary mb-10">Hola de nuevo!</h1>
                            <p class="text-medium">
                                Logueate con tu cuenta existente
                            </p>
                        </div>
                        <div class="cover-image">
                            <img src="assets/images/auth/signin-image.svg" alt="" />
                        </div>
                        <div class="shape-image">
                            <img src="assets/images/auth/shape.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6">
                <div class="signin-wrapper">
                    <div class="form-wrapper">
                        <form method="post">
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Email</label>
                                        <input type="text" name="email" class="form-control" id="username" placeholder="Email">
                                    </div>
                                </div>
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="input-style-1">
                                        <label>Password</label>
                                        <input type="text" name="password" class="form-control" id="username" placeholder="Enter email">
                                    </div>
                                </div>
    
                                <!-- end col -->
                                <div class="col-12">
                                    <div class="button-group d-flex justify-content-center flex-wrap">
                                        <button class="main-btn primary-btn btn-hover w-100 text-center">
                                            Sign In
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- end row -->
                        </form>
                        <div class="singin-option pt-40">
                            <p class="text-sm text-medium text-dark text-center">
                                ¿No tienes cuenta todavía?
                                <a asp-controller="Usuarios" asp-action="Register">Crear cuenta</a>
                            </p>
                            @if (Model != null)
                            {
                                <h1 style="color:purple">Bienvenido @Model.Nombre</h1>
                            }
                            <p class="text-sm text-medium text-center" style="color: red">@ViewData["MENSAJE"]</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
</section>