@model double

<div class="icon-card mb-30">
    <div class="icon orange">
        <i class="lni lni-user"></i>
    </div>
    <div class="content">
        <h6 class="mb-10">Total Ganancias</h6>
        <h3 class="text-bold mb-10">@Model</h3>
        <p class="text-sm text-danger">
        </p>
    </div>
</div>