
<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30">
            <h1 class="mb-10">@ViewData["MENSAJE"]</h1>
            <div class="table-wrapper table-responsive">
                <a asp-controller="Tienda" asp-action="Productos" class="btn btn-outline-dark">Volver al listado de acciones</a>

            </div>
        </div>
    </div>
</div>