

@* https://localhost:7112/Tienda/Resumen *@


   
    


<section class="section">
    <div class="container-fluid">
        <!-- ========== title-wrapper start ========== -->
        <div class="title-wrapper pt-30">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="title">
                        <h2>Resumen</h2>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->
        </div>
        <!-- ========== title-wrapper end ========== -->
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-sm-6" id="total">
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6" id="compras">
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6" id="dinero">
                
                
                <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
            <div class="col-xl-3 col-lg-4 col-sm-6" id="ganancias">

                <!-- End Icon Cart -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->

        
        <div class="row">
            <div class="col-lg-7">
                <div class="card-style mb-30">
                        <div style="background-color:plum" id="pastel">
                        </div>
                    @* <div class="title d-flex flex-wrap justify-content-between"> *@
                        @* <div class="left">
                            <h6 class="text-medium mb-10">Yearly Stats</h6>
                            <h3 class="text-bold">$245,479</h3>
                        </div>
                        <div class="right">
                            <div class="select-style-1">
                                <div class="select-position select-sm">
                                    <select class="light-bg">
                                        <option value="">Yearly</option>
                                        <option value="">Monthly</option>
                                        <option value="">Weekly</option>
                                    </select>
                                </div>
                            </div>
                            <!-- end select -->
                        </div> *@
                        
                    @* </div> *@
                    <!-- End Title -->
                </div>
            </div>
            <!-- End Col -->
            <div class="col-lg-5">
                <div class="card-style mb-30">

                        <div style="background-color:plum" id="barras">
                        </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
       
    </div>
    <!-- end container -->
</section>
@* 
@section Scripts {
    <script>

        // function Resumen() {
        //     fetch("/Tienda/Resumen")
        //         .then((response) => {
        //             return response.ok ? response.json() : Promise.reject(response);
        //         }).then((dataJson) => {
        //             console.log(dataJson)
        //         })
        // }
        $(document).ready(function () {
            fetch("/Tienda/Resumen")
                .then((response) => {
                    return response.ok ? response.json() : Promise.reject(response);
                }).then((dataJson) => {
                    console.log(dataJson)
                })
        })

        // $(document).ready(() => {
        //     Resumen();
        // });
    </script>
} *@
@section Scripts {

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>


    <script>
        $(document).ready(function () {

            $("#total").load("/Tienda/_TotalAcciones");
            $("#compras").load("/Tienda/_ComprasRealizadas");
            $("#dinero").load("/Tienda/_TotalInvertido");
            $("#ganancias").load("/Tienda/_TotalGanancias");
            // $("#graficainvertido").load("/Tienda/_GraficoDineroInvertido");
            // $("#graficaganancias").load("/Tienda/_GraficoDineroGanado");

        })

        // Data retrieved from https://netmarketshare.com/

    </script>
    <script>
        var urlBase = 'https://' + '@Context.Request.Host' + '/Tienda/DataPastel';
        // console.log(urlBase);
    </script>

    <script src="~/js/Pastel.js"></script>
    <script src="~/js/Barras.js"></script>
}